<h2>Edit Furniture</h2>
<form action="/furnitures/<%= @furniture["id"] %>" method="post">
  <div class="form-item">
    <label class="form-item-label" for="name">Name:</label>
    <input type="text" name="name" placeholder="furniture Name" required value="<%= @furniture["name"] %>">
  </div>
  <div class="form-item">
    <label for="interior_design_style_id" class="form-item-label">Interior Design Style</label>
    <select name="interior_design_style_id" id="interior_design_style_id">
      <% @styles.each do |style| %>
        <% unless @furniture["interior_design_style_id"] == style["id"] %>
          <option value="<%= style["id"]%>"><%= style["name"]%></option>
        <% end %>
        <% if @furniture["interior_design_style_id"] == style["id"] %>
          <option value="<%= style["id"]%>" selected ><%= style["name"]%></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="form-item">
    <label class="form-item-label" for="image">Image:</label>
    <input type="url" name="image" placeholder="http://..." value="<%= @furniture["image"] %>">
  </div>
  <div class="form-item">
    <label class="form-item-label" for="image">Description:</label>
    <textarea name="description" placeholder="Edit furniture description"><%= @furniture["description"] %></textarea>
  </div>
  <div class="form-item">
    <button class="controls-link" type="submit">Update furniture</button>
    <a class="controls-link" href="/furnitures">Back to the list</a>
  </div>
</form>
